@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
  background-color: #000000f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input{
  padding: 20px;
  border-radius: 15px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: xx-large;
}

h2:hover{
  cursor:default;
}

h4{
  font-family: 'Playfair Display', serif;
  font-size: x-large;
}

a{
  text-decoration: none;
  color: #f5f4f4f2;
  cursor: help;
}

a:hover{
  text-decoration: underline;
}